body {
    margin: 0; /*обнуляем отступы*/
    font-family: 'Montserrat', sans-serif; /*шрифт на весь контент*/
}

.header {
    position: relative;
    display: flex; /*делаем флексбокс для хедера*/
    flex-direction: column; /*выравнивание в колонку, основная ось Y*/
    justify-content: center; /*выравнивание контента по центру Y*/
    align-items: center; /*выравнивание контента по центру X*/

    width: 100%; /*ширина*/
    height: 100vh; /*высота без учета контента*/

    background-color: dimgray;
    background-image: url("./../img/header/header-bg.jpg"); /*из тек.дир/на уровень выше/хедер/файл*/
    background-size: cover; /*полное заполнение сайта фотографией*/
    background-position: center;
}

.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 56px;
    line-height: 130%; /*1.3*56=72,8=130%*/
    text-align: center;
    color: #FFFFFF;
}

.header-sybtitle {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2em; /*расстояние между буквами*/
    text-transform: uppercase; /*заглавные букввы всему тексту*/
    color: #FFFFFF;
}

.header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}